# faillock configuration
# Maximum number of authentication failures before locking account
deny = {{ faillock_deny }}

# Time in seconds after which the account is unlocked
unlock_time = {{ faillock_unlock_time }}

