##########################################################
#                                                        #
#                      Warning!!                         #
#        This system is for authorized users only!!      #
#                                                        #
##########################################################
