minlen = {{ minlen }}
minclass = {{ minclass }}
maxrepeat = {{ maxrepeat }}
maxclassrepeat = {{ maxclassrepeat }}
lcredit = {{ lcredit }}
ucredit = {{ ucredit }}
dcredit = {{ dcredit }}
ocredit = {{ ocredit }}
